@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove default scrollbar styles */
::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

/* Hide scrollbar buttons */
::-webkit-scrollbar-button {
    display: none;
}

/* Track styles */
::-webkit-scrollbar-track {
    background-color: #f7fafc;
}

/* Thumb styles */
::-webkit-scrollbar-thumb {
    background-color: #00d1a6;
    border-radius: 9999px;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #00d1a6;
}
